.avatar-box {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.avatar-img {
    height: 50px;
    width: 50px;
    margin: 5px;
}

.app-links {

    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.app-links div {
    margin-right: 10px;
}

.terms-content {

    flex-direction: column;
}